<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO App</title>

</head>
<body>
    <form action = "" method = "post">
        {% csrf_token %} 
        <label> Title </label>
        <input type = "text" name = "title">
        <label> Description </label>
        <input type = "text" name = "description">
        <label> Completed </label>
        <input type = "checkbox" name = "completed">
        <label> Deadline </label>
        <input type = "date" name = "deadline">
        <label > Created_at </label>
        <input type = "datetime-local" name = "created_at">

        <button type = "submit">Add Task</button>
    </form>
    <br>
    <a href="{% url 'task' %}">View Tasks page</a>
</body>
</html>